.portfolio {
	background: #212121;
	overflow: hidden
}

.portfolio .filtering {
	margin-bottom: 50px
}

.portfolio .filtering span {
	font-size: 14px;
	letter-spacing: .5px;
	padding: 6px 15px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 3px 1px;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s
}

.portfolio .filtering span.active {
	color: #fff;
	background: #7cb342
}


.portfolio .item-img {
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 1px;
	border-radius: 5px
}

.portfolio .item-img img {
	border-radius: 5px;
}

.portfolio .item-img .bottom-overlay,
.portfolio .item-img .top-overlay {
	position: absolute;
	left: 0;
	width: 100%;
	height: 75%;
	background: rgba(255, 255, 255, .8);
	z-index: 2;
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s
}

.portfolio .item-img .top-overlay {
	top: -75%
}

.portfolio .item-img .bottom-overlay {
	bottom: -75%
}

.portfolio .item-img:hover .top-overlay {
	top: 0;
	opacity: 1
}

.portfolio .item-img:hover .bottom-overlay {
	bottom: 0;
	opacity: 1
}

.portfolio .item-img .v-middle {
	z-index: 3
}

.portfolio .item-img .overlay-info {
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s
}

.portfolio .item-img .overlay-info h5 {
	margin-bottom: 0px
}

.portfolio .item-img .overlay-info .icon {
	font-size: 72px;
    color: rgba(33, 33, 33, .5);
    height: 280px;
    width: 280px;
    line-height: 280px;
    border: 1px solid rgba(33, 33, 33, .5);
    border-radius: 5px;
    margin: 0 2px;
    transition: all .5s;
}

.portfolio .item-img .overlay-info .icon:hover {
	color: #fff;
	background: #7cb3424d;
	border: 1px solid #7cb3424d;
	cursor: pointer;
}

.fa-link:before{
	content: "\f03e" !important;
}

.portfolio .item-img:hover .overlay-info {
	opacity: 1
}

.section-padding {
	padding-bottom: 20px !important;
}

.portfolio {
 	background-image: url(../../assets/img/codeBackgroundRound.jpg);
    background-size: cover;
    background-blend-mode: color-dodge;
    box-shadow: inset 0px 0px 50px 30px;
}
 
.projectContentsContainer {
    background: #d1eaffdb;
    border: 1px solid #1c1e21;
    box-shadow: 4px 4px 5px;
    border-radius: 15px;
}

.portfolio .section-head .projectContents p {
	margin-top: 1rem;
	color: #000 !important;
}


section#workCategories {
    padding-top: 70px;
	padding-bottom: 100px !important;
}