* {
	padding: 0;
	margin: 0;
	text-decoration: none!important;
	list-style: none!important;
	outline: 0!important
}

img {
	width: 100%;
	height: auto
}

a,
a:focus,
a:hover,
span {
	display: inline-block;
	color: inherit
}

body {
	font-family: "Open Sans", sans-serif;
	color: #212121;
	overflow-x: hidden!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat, sans-serif;
	letter-spacing: 1px;
	margin: 0
}bg1

p {
	color: #757575;
	line-height: 1.7;
	margin: 0
}

.section-padding {
	padding: 100px 0
}

.section-head {
	margin-bottom: 20px
}

.section-head h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;	
}

.portfolio .section-head h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;	
	color: #fff !important;
}

.portfolio .section-head p {
	color: #fff !important;
}

.sub-heading {
	font-size: 18px;
	margin-bottom: 15px
}

.v-middle {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

.mb-30 {
	margin-bottom: 30px
}

.bg-prop {
	background-size: cover;
	background-repeat: no-repeat
}

.section-overlay {
	position: relative
}

.section-overlay:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1
}

.section-overlay .container {
	position: relative;
	z-index: 9
}

.dark:after {
	background: rgba(33, 33, 33, .8)
}

.gradient:after {
	background: linear-gradient(-45deg, rgba(2, 61, 67, .9), rgba(69, 51, 29, .8), rgba(33, 33, 33, .9))
}

.a-gradient:after {
	background-size: 300% 300%!important;
	background: linear-gradient(-45deg, rgba(2, 61, 67, .9), rgba(69, 51, 29, .8), rgba(33, 33, 33, .9));
	-webkit-animation: a-gradient 15s ease infinite;
	animation: a-gradient 15s ease infinite
}

@-webkit-keyframes a-gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes a-gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

.bg-button,
.border-button {
	font-size: 15px;
	letter-spacing: .5px;
	padding: 8px 15px;
	margin-top: 3px;
	margin-right: 3px;
	border: 1px solid #7cb342;
	border-radius: 5px;
	position: relative;
	z-index: 3;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s
}

.bg-button span,
.border-button span {
	position: relative;
	z-index: 2
}

.bg-button:after,
.bg-button:before,
.border-button:after,
.border-button:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1;
	-webkit-transition: all .5s;
	transition: all .5s
}

.bg-button:before,
.border-button:before {
	top: 0
}

.bg-button:after,
.border-button:after {
	bottom: 0
}

.bg-button:hover:after,
.bg-button:hover:before,
.border-button:hover:after,
.border-button:hover:before {
	height: 55%
}

.bg-button {
	background: #7cb342;
	color: #fff!important
}

.bg-button:after,
.bg-button:before {
	background: #fff
}

.bg-button:hover {
	background: #fff
}

.bg-button:hover span {
	color: #7cb342
}

.border-button {
	background: #fff;
	color: #7cb342!important
}

.border-button:after,
.border-button:before {
	background: #7cb342
}

.border-button:hover {
	background: #7cb342
}

.border-button:hover span {
	color: #fff
}

.cd-headline {
	font-size: 3rem;
	line-height: 1.2
}

@media only screen and (min-width:768px) {
	.cd-headline {
		font-size: 4.4rem;
		font-weight: 300
	}
}

@media only screen and (min-width:1170px) {
	.cd-headline {
		font-size: 6rem
	}
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left
}

.cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0
}

.cd-words-wrapper b.is-visible {
	position: relative
}

.no-js .cd-words-wrapper b {
	opacity: 0
}

.no-js .cd-words-wrapper b.is-visible {
	opacity: 1
}

.cd-headline.clip span {
	display: inline-block;
	padding: .2em 0
}

.cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top
}

.cd-headline.clip .cd-words-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: #aebcb9
}

.cd-headline.clip b {
	opacity: 0
}

.cd-headline.clip b.is-visible {
	opacity: 1
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 9999999
}

.loading .load-circle {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	border-left: 2px solid #7cb342;
	border-top: 2px solid #7cb342;
	border-right: 2px solid rgba(33, 33, 33, .1);
	border-bottom: 2px solid rgba(33, 33, 33, .1);
	-webkit-animation: rotate 1.2s linear infinite;
	animation: rotate 1.2s linear infinite
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.button-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 99999;
	width: 40px;
	height: 40px;
	line-height: 41px;
	text-align: center;
	background: #515a5f;
	color: #fff;
	border-radius: 5px;
	opacity: .5;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
	display: none
}

.button-top:hover {
	opacity: .8
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 20px 0
}

.navbar .logo {
	width: 90px;
	height: 40px;
	line-height: 40px;
	margin-right: 15px
}

.navbar .menu-icon {
	color: #fff
}

.navbar .navbar-nav .nav-link {
	color: #eee;
	font-size: 15px;
	-webkit-transition: all .5s;
	transition: all .5s
}

.navbar .navbar-nav .active {
	color: #c7d6b8 !important
}

.nav-scroll {
	background: #fff;
	border-bottom: 1px solid rgba(12, 12, 12, .04);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all .5s;
	transition: all .5s
}

.nav-scroll .menu-icon {
	color: #212121
}

.nav-scroll .navbar-nav .nav-link {
	color: #212121
}

#particles-js {
	width: 100%;
	height: 100%;
	background: 0 0;
	z-index: 9
}

@media (max-width:991.98px) {
	.mb-md-50 {
		margin-bottom: 50px
	}
	.mb-md-30 {
		margin-bottom: 30px
	}
	.contact-info .item:after {
		display: none
	}
}

@media (max-width:767.98px) {
	.mb-sm-50 {
		margin-bottom: 50px
	}
	.navbar .container {
		padding: 0 15px
	}
	.navbar .navbar-toggler {
		padding: 0
	}
	.navbar .navbar-collapse {
		background: #fff;
		border-top: 1px solid rgba(12, 12, 12, .04);
		margin-top: 5px
	}
	.navbar .navbar-nav {
		padding-bottom: 15px
	}
	.navbar .navbar-nav .nav-link {
		color: #212121;
		display: block;
		padding: 15px 15px 0
	}
	.nav-scroll .navbar-nav {
		padding-bottom: 0
	}
	.nav-scroll .navbar-nav .nav-link {
		padding: 15px 0 0
	}
}