.contact {
	padding-top: 0px;
	overflow: hidden
}

.contact .form input,
.contact .form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #eee;
	background: #f5f5f5;
	font-size: 14px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none
}

.contact .form textarea {
	height: 160px;
	max-height: 160px;
	max-width: 100%
}

.contact .form input[type=submit] {
	display: inline-block;
	font-size: 15px;
	letter-spacing: .5px;
	background: #7cb342;
	border: 1px solid #7cb342;
	color: #fff;
	padding: 8px 10px;
	width: 140px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s
}

.contact .form input[type=submit]:hover {
	opacity: .9;
	border: 1px solid #fff
}

.contact .form .help-block {
	font-size: 13px;
	text-align: left;
	color: #ff5050;
	margin-top: 5px
}

.header .caption .social-media.resume span {
    color: #eee;
    background: rgba(117, 117, 117, .1);
    font-size: 45px;
    height: 80px;
    width: 85px;
    line-height: 80px;
    border: 1px solid rgba(117, 117, 117, .2);
    border-radius: 5px;
    transition: all .3s;
}

.contact .contact-info {
	margin-top: 0px;
	padding: 30px 0;
	background: #212121;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative
}

.contact .contact-info:after,
.contact .contact-info:before {
	content: "";
	background: #212121;
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 0
}

.contact .contact-info:before {
	left: -15px;
	border-top-left-radius: 5px
}

.contact .contact-info:after {
	right: -15px;
	border-top-right-radius: 5px
}

.contact .contact-info .item {
	padding: 0 15px;
	position: relative
}

.contact .contact-info .item:after {
	content: "";
	background: rgba(117, 117, 117, .3);
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0
}

.contact .contact-info .item:last-child:after {
	display: none
}

.contact .contact-info .item .icon {
	color: #7cb342;
	font-size: 20px;
	margin-bottom: 10px
}

.contact .contact-info .item h6 {
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
	text-transform: uppercase
}

.contact .contact-info .item p {
	color: #eee;
	font-size: 12px;
	letter-spacing: .5px
}