.intro p {
    text-align: justify;
}

#aboutmeImage {
	width: 150px;
	/* height: 150px; */
	margin: 0 auto;
	background: 0 0;
	margin-bottom: 20px;
	border-radius: 10% !important;
}
.jumbotron { 
    background-color: #868d95 !important; 
	
}
.aboutMeJumbotron {
	/* background-image: url(https://papers.co/wallpaper/papers.co-wb71-coding-rainbow-mac-pattern-background-java-36-3840x2400-4k-wallpaper.jpg); */
	background-image: url(../../assets/img/coding-rainbow.jpg);
    background-size: cover;
    background-blend-mode: lighten;
	margin-bottom: 0px !important;
	box-shadow: inset 2px 0px 20px 6px;
}
.bubble{
	background-color: #d1eaffdb;
    padding: 20px 10px 25px 20px;
    border: 1px solid #1c1e21;
    box-shadow: 4px 4px 5px;
    border-radius: 15px;

}
div#aboutmeImage img {
    box-shadow: -6px 7px 12px;
}
.about {
	overflow: hidden
}

.about .section-head {
	margin-bottom: 20px
}


.about .intro .details {
	margin: 20px 0
}

.about .intro .details .item {
	margin: 5px 0
}

.about .intro .details .item .icon {
	margin-right: 10px
}

.about .skills .prog-item {
	margin-bottom: 25px
}

.about .skills .prog-item:last-child {
	margin-bottom: 0
}

.about .skills .prog-item p {
	margin-bottom: 5px
}

.about .skills .prog-item .skill-progress {
	position: relative;
	height: 2px;
	width: 100%;
	border-radius: 5px;
	background: #eee
}

.about .skills .prog-item .skill-progress span {
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	background: #7cb342;
	border-radius: 5px;
	-webkit-transition: all 1s;
	transition: all 1s
}

.about .skills .prog-item .skill-progress span:after {
	/* content: attr(data-value); */
	position: absolute;
	right: 0;
	top: -23px;
	font-size: 12px;
	color: #757575
}