.workCategories {
	background: #7cb34245;
	overflow: hidden
}

.workCategories .item {
	background: #e6f1fde6;
	padding: 30px;
	border: 1px solid #eee;
	border-radius: 5px;
	-webkit-transition: all .5s;
	transition: all .5s
}

.workCategories .item:hover {
	-webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, .15);
	box-shadow: 0 12px 20px rgba(0, 0, 0, .15)
}

.workCategories .item .icon {
	color: #008cff;
	font-size: 30px;
	margin-bottom: 15px;
	-webkit-transition: all .5s;
	transition: all .5s
}

.workCategories .sectionHeader h3,
.workCategories .sectionHeader p {
	color: #fff;
}

.workCategories .sectionHeader p {
    font-size: 1.25rem;
    margin-top: -1rem;
}


p {
	white-space: pre-line;
}